<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="vue.js"></script>
    <script>
        window.onload=function(){
            var c=new Vue({
//              el:后面放的是：选择器,body等，并且一定要加一个逗号，
                el:"#box",
                data:{
                    arr:['apple','pear','banana','orange'],
                    json:{a:"apple",b:"banana",c:"pear"}
                }
            });
        }
    </script>
</head>
<body>
    <div id="box">
        <ul>
            <li v-for="value in arr">
                <!--这时大括号里面的应该写value,而不是写arr,大括号里面的值和v-for里面的值对应-->
                {{value}}
            </li>
        </ul>
        <hr>
        <ul>
            <!--括号中第一个字母代表“值”，第二个字母代表“索引号”-->
            <li v-for="(k,v) in json" >
                {{k}}  {{v}}
            </li>
        </ul>
    </div>
</body>
</html>