<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>使用组件化思想修改ToDolist</title>
	</head>
	<script src="js/vue.js"></script>
	
	<body>
		<div id="app">
			<input type="text" v-model='inputValue' />
			<button @click='handleBtnClick'>提交</button>
			<ul>
				<!--这个todo-item和下面的全局方法TodoItem是对应的，但是必须小写-->
				<todo-item v-bind:content='item' 
					        v-for='item in list'>
					
				</todo-item>
			</ul>
		</div>
		<script>
			//VUE提供的创建全局组件的方法.定义一个全局组件
			Vue.component('TodoItem',{
				props:['content'],
				template:"<li>{{content}}</li>"
			})
			var app=new Vue({
				el:'#app',
				data:{
					list:[],
					inputValue:''
				}, 
				//这上面一定要加一个逗号
				methods:{
					handleBtnClick:function(){
						this.$data.list.push(this.inputValue);
						this.inputValue='';
					}
				}
			})
		</script>
	</body>
</html>
